.email-preview-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  font-family: lato-regular;
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
  transition: .4s;
}

.email-preview-container:hover {
  box-shadow: 1px 1px 8px 1px #b6b6b6;
}

.email-preview-container .email-details {
  display: flex;
  gap: 30px;
  font-family: lato-bold;
}

.email-preview-container .email-body {
  font-family: lato-regular;
  flex-grow: 1;
  min-width: 600px;
}
