.book-add .opt-books-container {
    list-style-type: none;
    /* padding-left: 25%; */
}

.book-add .opt-book {
    text-align: left;
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    margin: auto;
    margin-bottom: 15px;
}

.opt-books-container button{
    font-size: 1rem;
    font-weight: bold;
    color: #bb8082;
    background-color: whitesmoke;
    border-radius: 50%;
    font-family: inherit;
}

.opt-books-container button:hover {
    background-color: #bb8082;
    color: black;
}

.book-add-form {
    margin: 20px;
}

.book-add-form button {
    margin-left: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #bb8082;
    background-color: whitesmoke;
    font-family: inherit;
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px 10px;
}