.keep-app{
    width: fit-content;
    margin: 50px auto;
    column-count: 3;
}

.new-note-btn{
    text-align: center;
    display: block;
    width: 200px;
    margin: 10px auto;
    font-size: 1.5rem;
    border: none;
    background: unset;
}

.new-note-btn:hover{
    color: blue;
}

.notes-list{
    margin: auto;
    column-count: 3;
}