
.keep-app{
    font-family: lato-regular;
}

.keep-app h2{
    font-family: lato-bold;
}


.new-note-btn{
    text-align: center;
    display: block;
    width: 200px;
    margin: 10px auto;
    font-size: 1.5rem;
    border: none;
    background: unset;
}

.new-note-btn:hover{
    color: blue;
}


.notes-list{
    padding: 20px;
    background-color: #e5e5e5;
    width: 1000px;
    margin: auto;
    column-count: 3;
    column-gap: unset;
}
