.new-note-info{
    margin-top: 50px;
}

.new-note-info .new-note-form{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
    gap: 20px;
}

.new-note-info .new-note-form textarea{
    max-width: 200px;
    max-height: 170px;
}

.new-note-info .new-note-form button{
    width: fit-content;
    margin: auto;
}