.home .hero {
  background-color: lightsteelblue;
  height: 80vh;
}

.home .hero img {
  border: none;
  width: 100%;
  height: 100%;
}

.home .nav-apps {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 100px;
}
